* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Comfortaa", cursive;
}
.wrapper {
  max-width: 100vw;
  /* zeby nie pokazał sie poziomy pasek scroll */
}
.top-section {
  background-image: url(../img/wenniel-lun-pe_R74hldW4-unsplash.jpg);
  height: 100vh;
  position: relative;
}
h1 {
  position: absolute;
  top: 20%;
  left: 40%;
  color: #ffffff;
  font-size: 9em;
  text-align: right;
  padding: 5%;
}
.intro {
  background-color: rgb(199, 225, 230);
  height: 100vh;
  position: relative;
  padding: 5%;
}
.intro-title {
  position: absolute;
  right: 5%;
}
h2 {
  padding-top: 40px;
  color: #222121;
  font-size: 1.7em;
  text-align: right;
}
.pic-main {
  padding: 50px;
  height: 80%;
  left: 100px;
}
/* text appear */
.intro-text {
  width: 30%;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.8s all ease-in-out;
}
.intro-appear {
  opacity: 1;
  transform: translateY(0);
}
h3 {
  padding: 50% 0 0 0;
}
